
@media (max-width:733px){
    .content__left 
    {
        display: none;
    }
    .content__youtube
    {
        height: 8600px;
    }
    .content__right 
    {
        width: 100%;
        margin-left: 0 !important;
    }
    .search__form 
    {
        display: none;
    }
    .header__logo i 
    {
        display: none;
    }
    .header__logo img 
    {
        float: left;
        margin-left: 20px;
    }
    .header__list-icon
    {
        margin-right: -9px;
    }
    .header__list-icon
{
    display: flex;
     justify-content: flex-end;
     margin-right: -20px;
}
.header__list-icon li.hide
{
    display: block;
}
.header__list-icon li.hide__2
{
    display: none;
}
.swiper {
    height: 56px;
    margin-left: 0px !important;
    margin-top: 10px;
}
.swiper.close__3 
{
    margin-left: 0px !important;
}
.swiper 
{
    margin-top: 0;
}
.list__icon-nav li 
{
    display: inline-block;
    list-style: none;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
}
.menu__tablet 
{
    display: flex;
}
.content__right-list 
{
    margin-bottom: 80px;
    padding: 0;
}
.content__right-list img
{
   width: 100%;
   height: 100%;
   margin-bottom: 10px;
   margin-left: -4px;
}
.content__right-list 
{
    background: none;
    margin-top: -20px;
   padding-left: 0;

}
.list__txt-heading 
{
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 4px;
    line-height: 23px;
}
.content__img
{
    padding: 0;
}
.list__txt-about 
{
    color: #AAAA;
    font-size: 14px;
    margin-left: 4px;
    line-height: 23px;
    margin-bottom: 10px;
}
.content__right-list-txt img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.camera__content 
{
    width: 200px;
}
.nofiti__content.open5 
{
    display: none;
}
.content__right-list i
{
   position: absolute;
    color: #fff;
    top: 0%;
    right: 0.5%;
    background: #000;
    padding: 5px 15px
}
}
@media (max-width:450px){
  
 
    .header__logo img 
    {
        width: 80px;
        margin-top: 13px;
    }
    .header__list-icon img 
    {
        width: 32px;
        height: 32px;
        border-radius: 50%;
         
    }
    .header__list-icon li 
    {
        display: inline-block;
        color: #fff;
        list-style: none;
        margin-right: 15px;
        font-size: 17px;
    }
    .header__list-icon i 
    {
        margin-top: 12px;
    }
    .swiper {
        height: 56px;
        margin-left: 0px !important;
  
    }
    .list__icon-nav li 
{
    display: inline-block;
    list-style: none;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 9px;
}
.list__icon-nav li p 
{
    font-size: 9px;
    margin-top: 5px;
}
.list__icon-nav li.circle 
{
    border: 2px solid #fff;
    border-radius: 50%;
     padding:4px 6px;
   margin-bottom: 10px;
    font-size: 14px;
}
.list__icon-nav li 
{
    display: inline-block;
    list-style: none;
    color: #fff;

    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.right__list-all-txt
{
    margin-left: 4px;
}
.app__content 
{
   
    right: 0%;
}
}
@media (min-width:734px) and (max-width:1024px){
    .content__left 
    {
        display: none;
    }
    .content__right 
    {
        width: 100%;
        margin-left: 0;
    }
    .search__form 
    {
        display: none;
    }
    .header__logo i 
    {
        display: none;
    }
    .header__logo img 
    {
        float: left;
        margin-left: 20px;
    }
    .header__list-icon
    {
        margin-right: -9px;
    }
    .header__list-icon
    {
        display: flex;
         justify-content: flex-end;
         margin-right: -20px;
    }
    .header__list-icon li.hide
    {
        display: block;
    }
    .header__list-icon li.hide__2
{
    display: none;
}
.swiper {
    height: 56px;
    margin-left: 0px !important;
    margin-top: 10px;
}
.content__right 
{
    width: 100%;
    margin-left: 0 !important;
}
.swiper.close__3 
{
    margin-left: 0px !important;
}
.swiper 
{
    margin-top: 0;
}
.menu__tablet 
{
    display: flex;
}
.content__right-list 
{
    margin-bottom: 80px;
}
.content__right-list img
{
   width: 100%;
   height: 100%;
   margin-bottom: 10px;
   margin-left: 0px;
   margin-left: 4px;
}
.content__right-list 
{
    background: none;
    margin-top: -20px;
   padding-left: 0;
   margin-left: -4px;
}
.list__txt-heading 
{
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 5px;
   line-height: 23px;
}
.content__img
{
    padding: 10px;
}
.list__txt-about 
{
    color: #AAAA;
    font-size: 14px;
    margin-left: 5px;
    line-height: 23px;
    margin-bottom: 10px;

}
.content__right-list-txt img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.right__list-all-txt
{
    margin-left: 4px;
}
.content__right-list
{
    margin-bottom: 30px;
}
.content__youtube 
{
    height: 1950px;
}
.camera__content 
{
    width: 200px;
}
.content__right-list i
{
   position: absolute;
    color: #fff;
    top: 0%;
    right: -2%;
    background: #000;
    padding: 5px 15px
}
}
@media (min-width:1025px) and (max-width:1210px) {
    .content__left 
    {
        display: none;
    }
    .content__right 
    {
        width: 100%;
        margin-left: 0;
    }
    .search__form 
    {
        display: none;
    }
    .header__logo i 
    {
        display: none;
    }
    .header__logo img 
    {
        float: left;
        margin-left: 20px;
    }
    .header__list-icon
    {
        margin-right: -9px;
    }
    .header__list-icon li.hide
{
    display: block;
}
.header__list-icon li.hide__2
{
    display: none;
}
.swiper {
    height: 56px;
    margin-left: 0px !important;
    margin-top: 10px;
}
.content__right 
{
    width: 100%;
    margin-left: 0 !important;
}
.swiper.close__3 
{
    margin-left: 0px !important;
}
.content__right.open 
  {
      margin-left: 32px;
  }
  .swiper 
  {
      margin-top: 0;
  }
  .menu__tablet 
  {
      display: flex;
  }
  .content__list-style-2 .sub__list-4
  {
      display: none;
  }
  
  .content__right-list img
{
   width: 100%;
   height: 100%;
   margin-bottom: 10px;
   margin-left: 0px;
   margin-left: -4px;
}
.content__right-list 
{
    background: none;
    margin-top: -20px;
   padding-left: 0;
   margin-left: 6px;
}
.list__txt-heading 
{
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 5px;
   line-height: 23px;
}
.content__img
{
    padding: 15px;
}
.list__txt-about 
{
    color: #AAAA;
    font-size: 14px;
    margin-left: 5px;
    line-height: 23px;
    margin-bottom: 10px;

}
.content__right-list-txt img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.right__list-all-txt
{
    margin-left: 4px;
}
.content__right-list
{
    margin-bottom: 30px;
    margin-right: 2px;
}
.content__youtube 
{
    height:1360px;
}
.camera__content 
{
    width: 200px;
}
.content__right-list i
{
   position: absolute;
    color: #fff;
    top: 0%;
    right: 1.5%;
    background: #000;
    padding: 5px 15px
}
}
@media (min-width:1025px) and (max-width:1112px) {
 
.content__youtube 
{
    height: 2030px;
}
}
    
@media (min-width:1211px){
    .content__right 
    {
        width: 100%;
    }
  
}
@media (min-width:1210px) and (max-width:1240px) {
    .content__left
  {
      width: 60px;
  }
  .sub__list
  {
      display: none;
  }
  .content__right
  {
      margin-left: 32px !important;
      width: 100%;
  }
  .content__right 
{
 
    background: #181818;
    height: 100%;
    margin-left: 256px;
    overflow: hidden;
    padding: 10px;
}
.content__list-style 
{
    background: #202020;
}
.swiper
{
    margin-left: 60px !important;
}

.modal.hidden 
{
    display: flex;
}
.sub__list-5 
{
    display: none;
}
.content__list .sub__text
{
    display: block;
    margin-bottom: 20px;
}
.content__list-style-2
{
    border: none;
    margin-top: 0px;
}
.content__list-4 i
{
    margin-top: -2px;
}
.content__right-list img
{
   width: 100%;
   height: 100%;
   margin-bottom: 10px;
   margin-left: 5px;
}
.content__img 
{
    padding: 20px;
}
.content__right-list-txt img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.right__list-icon
{
    right:-5px;
}
}
@media (min-width:1209px) and (max-width:1210.5px) {
    .content__right.open 
    {
        margin-left: 32px;
        width: 100%;
    }
}

@media (min-width:1006px) and (max-width:1006.5px){
    .content__left
    {
        width: 60px;
    }
    .sub__list
    {
        display: none;
    }
    .content__right
    {
        margin-left: 32px !important;
        width: 100%;
    }
    .content__right 
  {
   
      background: #181818;
      height: 100%;
      margin-left: 256px;
      overflow: hidden;
      padding: 10px;
  }
  .content__list-style 
  {
      background: #202020;
  }
  .swiper
  {
      margin-left: 60px !important;
  }
  .menu.color{
      color: red;
  }

  .content__left 
  {
      display: none;
  }
  .content__right 
  {
      width: 100%;
      margin-left: 0;
  }
  .search__form 
  {
      display: none;
  }
  .header__logo i 
  {
      display: none;
  }
  .header__logo img 
  {
      float: left;
      margin-left: 20px;
  }
  .header__list-icon
  {
      margin-right: -9px;
  }
  .header__list-icon
  {
      display: flex;
       justify-content: flex-end;
       margin-right: -20px;
  }
  .header__list-icon li.hide
  {
      display: block;
  }
  .header__list-icon li.hide__2
{
  display: none;
}
.swiper {
  height: 56px;
  margin-left: 0px !important;
  margin-top: 10px;
}
.content__right 
{
  width: 100%;
  margin-left: 0 !important;
}
.swiper.close__3 
{
  margin-left: 0px !important;
}
}
@media (min-width:1600px){
    .content__youtube 
    {
        height: 1800px;
    }
}