*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.header 
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 69px;
  background: #202020;
  z-index: 9999;
}

.content__youtube
{
    height: 300px;
   display: flex;
   margin-top: 56px;
}
.content__left
{
    height: 100%;
    width: 256px;
     background: #202020;
     padding: 0px 16px;
     position: fixed;
     overflow: scroll;
     overflow: hidden;
}
.content__left:hover 
{
    overflow: scroll;
}
.content__right 
{
    width: 90%;
    background: #181818;
    height: 1380px;
    margin-left: 256px;
    overflow: hidden;
}
.header__logo 
{
    height: 56px;
    padding-top: 5px;
    width: 180px;
}
.header__logo i 
{
    color: #bebebe;
     margin-top: 13px;
     cursor: pointer;
     font-size: 24px;
     padding-left: 20px;
}
.header__logo img 
{
    width: 120px;
    margin-left: 10px;
    margin-top: 8px;
    float: right;
}
.header__search
{
    position: fixed;
    height: 56px;
    right: 0;
    left: 195px;
    bottom: 0;
    top: 0;
    background: #202020;
    padding: 10px 16px;
}
.search__form
{
    text-align: center;
     justify-content: center;
    display: flex;
}
.search__form-in 
{
    width: 50%;
    background: #181818;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__form-in input
{
  width: 90%;
   padding: 5px;
   background: none;
   outline: none;
   border: none;
   color: #fff;
   font-size: 16px;
}
.search__form-in i 
{
    color: #a0a0a0;
    padding-right: 10px;
}
.search__form .search__btn
{
    width: 64px;
    height: 38px;
    color: #a0a0a0;
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
}
.search__form .micro  
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff ;
    background: #181818;
    font-size: 15px;
    margin-left: 10px;
    margin-top: -1px;
    border-radius: 50%;
    cursor: pointer;
}
.header__btn 
{
    background: coral;
}
.header__list-icon
{
    display: flex;
     justify-content: flex-end;
     margin-right: -12px;
     cursor: pointer;
}
.header__list-icon img 
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
     
}
.header__list-icon li 
{
    display: inline-block;
    color: #fcfcfc;
    list-style: none;
    margin-right: 25px;
    font-size: 17px;
}
.header__list-icon i 
{
    margin-top: 12px;
}
.header__list-icon li.hide 
{
    display: none;
}
.swiper {
    height: 56px;
    margin-left: 256px !important;
    margin-top: 10px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding-top: 15px;
    background: #202020;
}
  .swiper-wrapper 
  {
      margin-left: 20px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;

    color: #bebebe;
    background: #fff;
    height: 32px !important;
    background: #373737;
    border-radius: 24px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
  }
  .swiper-slide p 
  {
      font-size: 14px;
      color: #fff;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content__list-style
  {
      margin-top: 20px;
      background: #383838;
      height: 40px;
      margin-left: -14px;
  }
  .content__list 
  {
       
       padding-left: 12px ;

  }
  
  .content__list i 
  {
      margin-left: 13px;
      margin-bottom: 15px;
      font-size: 20px;
      cursor: pointer;
  }
  .content__list p 
  {
      font-size: 14px;
      color: #fff;
      font-weight: 550;
      
     margin-top: 12px;
  }
  .content__list-style-2 
  {
       margin-left: 12px;
       margin-top: 5px;
       border-top: 2px solid #333;
       width: 100%;
  }
  .content__list-3 p 
  {
      margin-top: 4px;
  }

  .content__list-style-2.changesize3
  {
      border: none;
      margin-top: 0px;
  }
  .content__youtube 
  {
      height: 1380px;
  }

  .content__list-4 i
  {
      margin-top: 10px;
  }
  .content__list-5 p 
  {
      margin-top: -5px;
  }
  .content__list-style-2 .sub__list-4
  {
      margin-left:8px;
      margin-top: 23px;
      
  }
  
  .content__list .sub__text 
  {
      font-size: 10px;
      width: 70px;
      margin-top: -5px;
      display: none;
          
  }
  .content__list .sub__text.addtext 
  {
      display: block;
      margin-bottom: 20px;
  }
  .sub__list-4.close__6 
  {
      display: none;
     
  }
  .content__list .sub__list 
  {
      margin-left: 11px;
  }
  .content__left.close 
  {
      width: 60px;
      overflow: hidden;
  }
  .content__left.close:hover 
  {
      overflow: hidden;
  }
  .sub__list.close__2 
  {
      display: none;
  }
  .sub__list-2.close__4
  {
      display: none;
  }
  .sub__list-3.close__5
  {
      display: none;
  }
  .content__right.open 
  {
      margin-left: 32px;
  }
  .content__list-4 i.changemargin2 
  {
      margin-top: -2px;
  }
  .content__right 
{
    width: 90%;
    background: #181818;
    height: 100%;
    margin-left: 256px;
    overflow: hidden;
    padding: 10px;
}
.content__list-style.hide
{
    background: #202020;
}
.swiper.close__3 
{
    margin-left: 60px !important;
}
.sub__list-5.hidden2 
{
    display: none;
}

.content__right-list 
{
    background: chocolate;
    margin-right: 10px;
    margin-left: 10px;
}  
.content__img 
{
    margin-top: 100px;
    padding: 20px;
    margin-left: 5px;
}
.modal 
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    background: #0004;
    display: none;
}
.modal__content 
{
    width: 20%;
    height: 100%;
    background: #181818;
}

.close__modal 
{
    color: #fff;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.menu__tablet 
{
    position: fixed;
    bottom: 0;
    height: 75px;
    background: #202020;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: 2px solid #333;
    display: none;
}
.list__icon-nav
{
    margin-top: -8px;
}
.list__icon-nav li 
{
    display: inline-block;
    list-style: none;
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.list__icon-nav li.circle 
{
    border: 2px solid #fff;
    border-radius: 50%;
     padding:6px 8px;
   margin-bottom: 10px;
    font-size: 14px;
}
.list__icon-nav li.circle i 
{
    margin-top: -10px;
    font-size: 20px;
}
.list__icon-nav li.change__position
{
    margin-top: 15px;
}
.list__icon-nav li p 
{
    font-size: 11px;
    margin-top: 5px;
    font-weight: 550;
}
.content__right-list img
{
   width: 100%;
   height: 100%;
   margin-bottom: 10px;
   margin-left: -10px;
}
.content__right-list img.change__margin-img
{
    margin-left: 4px;
}
.content__right-list-txt 
{
    display: flex;
}
.content__right-list 
{
    background: none;
    margin-top: -20px;
   padding-left: 10px;
   position: relative;
  cursor: pointer;
}
.list__txt-heading 
{
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 25px;
    margin-left: 7px;

}
.list__txt-about 
{
    color: #AAAA;
    font-size: 14px;
    margin-left: 7px;
    line-height: 23px;
    margin-bottom: 10px;
}
.content__right-list-txt img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.right__list-all-txt
{
    margin-left: 4px;
}
.content__img 
{
    padding: 10px;
}
.content__img.changepad 
{
    padding: 20px;
}
.content__right-list
{
    margin-bottom: 40px;
    transition: 0.4s;
}
.swiper
{
    position: relative;
}
.swiper i 
{
    position: absolute;
    color: #fff;
    top: 0%;
    left: 0%;
    font-size: 30px;
    display: none;
}
.swiper i.open_icon
{
 display: block;
}
.content__list-6
{
    margin-left: 15px; 
    margin-bottom: 20px;

}
.content__list .sub__list-6
{
    font-size: 16px;
}
.sub__list-6 
{
    margin-bottom: 30px;
    margin-top: 20px !important;
    color: #aaaaaa !important;
    margin-left: 5px;
}
.content__list img 
{
    width: 24px;
    border-radius: 50%;
    height: 24px;
    margin-left: 10px;
    margin-top: -5px;
    margin-bottom: 10px;
}
.sub__list-7
{
    margin-bottom: 20px;
}
.content__list-style-2 .sub__list-7 
{
    margin-left: 13px;
}
.swiper .swiper-slide-2 
{
   background: #fff;
}
.swiper .swiper-slide-2 p
{
   background: #fff;
   color: #000;
}
.camera__content 
{
    position: fixed;
    top: 6%;
    right: 2%;
    background: #202020;
    height: 90px;
    width: 160px;
    z-index: 9999999;
    border:0.2px solid #343434;
    display: none;
}
.camera__content 
{ 
padding: 20px;
}
.camera__content i 
{
    color: #a6a6a6;
}
.camera__list 
{
   color: #fff;
   margin-bottom: 20px;
   margin-left: 5px;

}
.camera__list p 
{
    font-size: 13px;
}
.camera__list .camera_list-info 
{
    margin-left: 10px;
}
.camera__list .wifi 
{
    margin-left: -3px;
}
.camera__content.open3 
{
    display: block;
}
.app__content 
{
    position: fixed;
    top: 6%;
    right: 8%;
    background: #202020;
    height: 270px;
    width: 300px;
    z-index: 9999999;
    border:0.2px solid #343434;
    padding: 10px 20px;
    color: #fff;
    display: none;
}
.app__content.open5 
{
    display: block;
}
.app__content img 
{
    width: 24px;
    height: 20px;
    margin-top: 15px;
}
.app__content .camera_app-info
{
    margin-bottom: 15px;
    margin-top: 15px;
}
.app__section
{
    border-bottom: 0.5px solid #313131;
    width: 100%;

}
.app__section-2
{
    border-bottom: none;
}
.nofiti__content
{
    position: fixed;
    top: 6%;
    right: 0%;
    background: #202020;
    height: 670px;
    width: 500px;
    z-index: 9999999;
    border:0.2px solid #343434;
    padding: 10px 0px;
    color: #fff;
    overflow: scroll;
    overflow-x: hidden;
    display:none ;
}
.nofiti__about 
{
    padding: 10px 30px;
     
}
.nofi__list-time 
{
    color: #a0a0a0;
    font-size: 14px;
}
.notifi__setting 
{
    text-align: right;
    padding: 10px 30px;
    margin-bottom: 8px;
}
.nofiti__heading
{
    border-bottom: 2px solid #343434;
}
.nofiti__list-content 
{
    margin-top: 20px;
}
.nofiti__list-content .nofiti__logo
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
}
.nofiti__list-content .nofiti__img
{
    width: 86px;
    height: 64px;

}
.nofi__list-about 
{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
}
.nofiti__content.open5 
{
    display: block;
}
.right__list-icon 
{
   position: absolute;
    color: #fff;
    top: 0%;
    right: 10px;
    background: #000;
    padding: 5px 15px;
    display: none;
    transition: 0.4s;
  
}
.content__right-list:hover .right__list-icon 
{
    display: block;
}
.right__list-icon.change__px 
{
    right:-4px;
}
.swiper-slide.changecolor
{
    background: #fff;
    color: #000;
}
a 
{
    text-decoration: none;
}
.content__video
{
    background: #202020;
    height: 1300px;
}