*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
.header 
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 69px;
  background: #202020;
  z-index: 9999;
}

.content__left
{
    height: 100%;
    width: 256px;
     background: #202020;
     padding: 0px 16px;
     position: fixed;
     overflow: scroll;
     overflow: hidden;
     overflow: hidden;
}
.content__left:hover 
{
    overflow: scroll;
}
.content__right 
{
    width: 90%;
    background: #181818;
    height: 1380px;
    margin-left: 256px;
    overflow: hidden;
    overflow: hidden;
}
.header__logo 
{
    height: 56px;
    padding-top: 5px;
    width: 180px;
}
.header__logo i 
{
    color: #bebebe;
     margin-top: 13px;
     cursor: pointer;
     font-size: 24px;
     padding-left: 20px;
}
.header__logo img 
{
    width: 120px;
    margin-left: 10px;
    margin-top: 8px;
    float: right;
}
.header__search
{
    position: fixed;
    height: 56px;
    right: 0;
    left: 195px;
    bottom: 0;
    top: 0;
    background: #202020;
    padding: 10px 16px;
}
.search__form
{
    text-align: center;
     justify-content: center;
    display: flex;
}
.search__form-in 
{
    width: 50%;
    background: #181818;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__form-in input
{
  width: 90%;
   padding: 5px;
   background: none;
   outline: none;
   border: none;
   color: #fff;
   font-size: 16px;
}
.search__form-in i 
{
    color: #a0a0a0;
    padding-right: 10px;
}
.search__form .search__btn
{
    width: 64px;
    height: 38px;
    color: #a0a0a0;
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
}
.search__form .micro  
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff ;
    background: #181818;
    font-size: 15px;
    margin-left: 10px;
    margin-top: -1px;
    border-radius: 50%;
    cursor: pointer;
}
.header__btn 
{
    background: coral;
}
.header__list-icon
{
    display: flex;
     justify-content: flex-end;
     margin-right: -12px;
     cursor: pointer;
}
.header__list-icon img 
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
     
}
.header__list-icon li 
{
    display: inline-block;
    color: #fcfcfc;
    list-style: none;
    margin-right: 25px;
    font-size: 17px;
}
.header__list-icon i 
{
    margin-top: 12px;
}
.header__list-icon li.hide 
{
    display: none;
}
.content__video 
{
    height: 1800px;
    background: #181818;
    overflow: hidden;
}
.content__left-video 
{
    background: coral;
    height: 500px;
  
}
.content__right-video
{
    margin-top: 100px;
 
    height: 1000px;
}
.content__left-list
{
    margin-top: 100px;
  
    height: 1000px;
}
.content__right-video iframe 
{
    margin-bottom: 20px;
   
}
.content__list-about 
{
    color: #fff;
    margin-bottom: 15px;
}
.content__list-emo
{
    display: flex;
    justify-content: space-between;
   padding-bottom: 10px;
}
.content__emo-about
{
    color: #fff;
    margin-bottom: 8px;
    color: #9ea4a8;
}
.content__right-nav li 
{
    display: inline-block;
    color: #fcfcfc;
    list-style: none;
    cursor: pointer;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
}
.content__right-nav li i 
{
    margin-right: 7px;
    font-size: 18px;
}
.content__list-emo
{
    border-bottom: 0.5px solid #313131;
}
.content__list-sub 
{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.content__list-logo
{
    display: flex;
}
.content__list-logo img 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.logo__about
{
    color: #fff;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 23px;
}
.logo__about span 
{
    color: #9ea4a8;
}
.content__sub 
{
    display: flex;
    margin-top: 10px;
}
.content__sub .sub__about
{
    color: #fff;
    background: #c00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 17px;
  cursor: pointer;
}
.content__emo-about-2
{
    display: none;
}
.content__right-nav li .list 
{
    display: none;
    text-transform: capitalize;
}
.content__sub .sub__about.close
{
    display: none;
}

.content__sub  .sub__about-2
{
    background: #303030;
    display: none;
 
}
.content__sub  .sub__about-2.open
{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.content__sub  .sub__about.open2
{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.content__sub  .sub__about-2.close2
{
    display: none;

}
.about__list
{
    margin-top: 26px;
    color: #fff;
    margin-left: 55px;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 15px;
}
.about__more
{
    color: #8ea2a4;
    margin-left: 55px;
    font-size: 14px;
    text-transform: uppercase;
}
.sub__about-2 i 
{
    margin-left: 5px;
}
.content__about
{
    border-bottom: 0.5px solid #313131;
    padding-bottom: 25px;
}
.content__left-list img 
{
    width: 168px;
    height: 94px;
    padding: 0px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}
.list__txt-heading
{
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    margin-top: -1px;
    margin-bottom: 4px;
}
.left__list
{
    display: flex;
    cursor: pointer;
}
.list__txt-about
{
    color: #a0a0a0;
    font-size: 11px;
    line-height: 20px;
}
.content__right-nav .like__2 
{
  display: none;
  cursor: pointer;
}
.content__right-nav .like__2.open 
{
    display: inline-block;
}
.like.close
{
    display: none;
    cursor: pointer;
}
.like.open2
{
    display: inline-block;
}
.content__right-nav .like__2.close2
{
    display: none;
}
.content__right-nav .dislike__2 
{
  display: none;
  cursor: pointer;
}
.content__right-nav .dislike__2.open 
{
    display: inline-block;
}
.dislike.close
{
    display: none;
    cursor: pointer;
}
.dislike.open2
{
    display: inline-block;
    cursor: pointer;
}
.content__right-nav .dislike__2.close2
{
    display: none;
    cursor: pointer;
}
.modal
{
    background: #0004;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
}
.modal__content
{
    width: 17%;
    background: #202020;
    height: 100%;
    position: relative;
}
.modal__content .menu 
{
    color: #fff;
    position: absolute;
    top: 2.8%;
    font-size: 24px;
    left: 6.4%;
}
.modal__content img 
{
    width: 120px;
    margin-left: 58px;
    margin-top: 15px;
}
.menu__tablet 
{
    position: fixed;
    bottom: 0;
    height: 75px;
    background: #202020;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: 2px solid #333;
    display: none;
}
.list__icon-nav
{
    margin-top: 2px;
 
}
.list__icon-nav li 
{
    display: inline-block;
    list-style: none;
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;

}
.list__icon-nav li p 
{
    font-size: 11px;
    margin-top: 5px;
    font-weight: 550;
}
.camera__content 
{
    position: fixed;
    top: 6%;
    right: 2%;
    background: #202020;
    height: 90px;
    width: 160px;
    z-index: 9999999;
    border:0.2px solid #343434;
    display: none;
}
.camera__content 
{ 
padding: 20px;
}
.camera__content i 
{
    color: #a6a6a6;
}
.camera__list 
{
   color: #fff;
   margin-bottom: 20px;
   margin-left: 5px;

}
.camera__list p 
{
    font-size: 13px;
}
.camera__list .camera_list-info 
{
    margin-left: 10px;
}
.camera__list .wifi 
{
    margin-left: -3px;
}
.camera__content.open3 
{
    display: block;
}
.app__content 
{
    position: fixed;
    top: 6%;
    right: 8%;
    background: #202020;
    height: 270px;
    width: 300px;
    z-index: 9999999;
    border:0.2px solid #343434;
    padding: 10px 20px;
    color: #fff;
    display: none;
}
.app__content.open5 
{
    display: block;
}
.app__content img 
{
    width: 24px;
    height: 20px;
    margin-top: 15px;
}
.app__content .camera_app-info
{
    margin-bottom: 15px;
    margin-top: 15px;
}
.app__section
{
    border-bottom: 0.5px solid #313131;
    width: 100%;

}
.app__section-2
{
    border-bottom: none;
}
.nofiti__content
{
    position: fixed;
    top: 6%;
    right: 0%;
    background: #202020;
    height: 670px;
    width: 500px;
    z-index: 9999999;
    border:0.2px solid #343434;
    padding: 10px 0px;
    color: #fff;
    overflow: scroll;
    overflow-x: hidden;
    display:none ;
}
.nofiti__about 
{
    padding: 10px 30px;
     
}
.nofi__list-time 
{
    color: #a0a0a0;
    font-size: 14px;
}
.notifi__setting 
{
    text-align: right;
    padding: 10px 30px;
    margin-bottom: 8px;
}
.nofiti__heading
{
    border-bottom: 2px solid #343434;
}
.nofiti__list-content 
{
    margin-top: 20px;
}
.nofiti__list-content .nofiti__logo
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
}
.nofiti__list-content .nofiti__img
{
    width: 86px;
    height: 64px;

}
.nofi__list-about 
{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
}
.nofiti__content.open5 
{
    display: block;
}
.right__list-icon 
{
   position: absolute;
    color: #fff;
    top: 0%;
    right: 10px;
    background: #000;
    padding: 5px 15px;
    display: none;
    transition: 0.4s;
  
}
.content__right-list:hover .right__list-icon 
{
    display: block;
}
.right__list-icon.change__px 
{
    right:-4px;
}
.swiper-slide.changecolor
{
    background: #fff;
    color: #000;
}
a 
{
    text-decoration: none;
}
.content__video
{
    background: #202020;
    height: 1800px;
}